
<ul>

  <li>
    PUERTA HABITACIÓN<br>
    <button (click)="onClickCommandButton(Devices.MAIN_ROOM_DOOR, Command.ON)"><i class="pi pi-caret-up"> </i>SUBIR</button>
    <button (click)="onClickCommandButton(Devices.MAIN_ROOM_DOOR, Command.OFF)"><i class="pi pi-caret-down"> </i>BAJAR</button>
    <button (click)="onClickCommandButton(Devices.MAIN_ROOM_DOOR, Command.STOP)" > <i class="pi pi-stop"> </i>STOP</button>
  </li>
  <br><br>
  <li>
    VENTANA HABITACIÓN<br>
    <button (click)="onClickCommandButton(Devices.MAIN_ROOM_WINDOW, Command.ON)"><i class="pi pi-caret-up"> </i>SUBIR</button>
    <button (click)="onClickCommandButton(Devices.MAIN_ROOM_WINDOW, Command.OFF)"><i class="pi pi-caret-down"> </i>BAJAR</button>
    <button (click)="onClickCommandButton(Devices.MAIN_ROOM_WINDOW, Command.STOP)" > <i class="pi pi-stop"> </i>STOP</button>
  </li>

</ul>
