
<button *ngIf="voiceRecognitionService.isStoppedSpeechRecog === false"  [class]="'pi pi-volume-up speech green'" (click)="cancelVoice($event)"></button>
<button *ngIf="voiceRecognitionService.isStoppedSpeechRecog === true" [class]="'pi pi-volume-off speech red'" (click)="activeVoice($event)"></button>

<!-- <button style="color: darkred;" class="pi pi-volume-up speech" (click)="cancelVoice($event)"></button> -->

<p-accordion [multiple]="true">
  <p-accordionTab header="HABITACIÓN PRINCIPAL">
      <h4 class="col-12" >PUERTA</h4>
      <div class="grid grid-nogutter  col-12">
        <button class="col" (click)="onClickCommandButton(Devices.MAIN_ROOM_DOOR, Command.ON)"><i class="on pi pi-caret-up"> </i></button>
        <button class="col" (click)="onClickCommandButton(Devices.MAIN_ROOM_DOOR, Command.OFF)"><i class="off pi pi-caret-down"> </i></button>
        <button class="col" (click)="onClickCommandButton(Devices.MAIN_ROOM_DOOR, Command.STOP)" > <i class="stop pi pi-stop"> </i></button>
      </div>
      <h4 class="col-12" >VENTANA</h4>
        <div class="grid grid-nogutter col-12">
          <button class="col" (click)="onClickCommandButton(Devices.MAIN_ROOM_WINDOW, Command.ON)"><i class="on pi pi-caret-up"> </i></button>
          <button class="col" (click)="onClickCommandButton(Devices.MAIN_ROOM_WINDOW, Command.OFF)"><i class="off pi pi-caret-down"> </i></button>
          <button class="col" (click)="onClickCommandButton(Devices.MAIN_ROOM_WINDOW, Command.STOP)" > <i class="stop pi pi-stop"> </i></button>
        </div>
  </p-accordionTab>
  <p-accordionTab header="SALON COCINA">
        <h4>PUERTA</h4>
        <div class="grid grid-nogutter col-12">
          <button class="col" (click)="onClickCommandButton(Devices.KITCHEN_DOOR, Command.OFF)"><i class="on pi pi-caret-up"> </i></button>
          <button class="col" (click)="onClickCommandButton(Devices.KITCHEN_DOOR, Command.ON)"><i class="off pi pi-caret-down"> </i></button>
          <button class="col" (click)="onClickCommandButton(Devices.KITCHEN_DOOR, Command.STOP)" > <i class="stop pi pi-stop"> </i></button>
        </div>
      <br>
        <h4>VENTANA</h4>
        <div class="grid grid-nogutter col-12">
          <button class="col" (click)="onClickCommandButton(Devices.KITCHEN_WINDOW, Command.ON)"><i class="on pi pi-caret-up"> </i></button>
          <button class="col" (click)="onClickCommandButton(Devices.KITCHEN_WINDOW, Command.OFF)"><i class="off pi pi-caret-down"> </i></button>
          <button class="col" (click)="onClickCommandButton(Devices.KITCHEN_WINDOW, Command.STOP)" > <i class="stop pi pi-stop"> </i></button>
        </div>
  </p-accordionTab>
  <p-accordionTab header="HABITACION EDU">
        <h4>VENTANA</h4>
        <div class="grid grid-nogutter col-12">
          <button class="col" (click)="onClickCommandButton(Devices.SMALL_ROOM, Command.OFF)"><i class="on pi pi-caret-up"> </i></button>
          <button class="col" (click)="onClickCommandButton(Devices.SMALL_ROOM, Command.ON)"><i class="off pi pi-caret-down"> </i></button>
          <button class="col" (click)="onClickCommandButton(Devices.SMALL_ROOM, Command.STOP)" > <i class="stop pi pi-stop"> </i></button>
        </div>
  </p-accordionTab>
  <p-accordionTab header="HABITACION JAUME">
    <h4>VENTANA</h4>
    <div class="grid grid-nogutter col-12">
      <button class="col" (click)="onClickCommandButton(Devices.JAUME_ROOM, Command.ON)"><i class="on pi pi-caret-up"> </i></button>
      <button class="col" (click)="onClickCommandButton(Devices.JAUME_ROOM, Command.OFF)"><i class="off pi pi-caret-down"> </i></button>
      <button class="col" (click)="onClickCommandButton(Devices.JAUME_ROOM, Command.STOP)" > <i class="stop pi pi-stop"> </i></button>
    </div>
</p-accordionTab>
</p-accordion>

<div>
{{voiceRecognitionService.error}}
</div>
