/* You can add global styles to this file, and also import other style files */
.p-accordion-content{
  padding: 0 !important;
  margin: 0 !important;
}

h4{
  padding: 0;
  padding: 0 !important;
  margin: 0 !important;
  /* margin: 0.5rem 0; */
  text-align: center;
}
